/old_dataset
/old_runs
/runs
/final
/results_wrist_gloves
/evaluation
/weights
/experiment1
/dataset_555
# Ignore all JPG images
*.jpg
*.jpeg
*.png

*.mp4
*.pb
# Ignore all PyTorch model files
*.pt

*.weights
*.csv
*.docx
*.pptx