/old_dataset
/old_runs
/runs
/final
/results_wrist_gloves
/evaluation1
/evaluation2
/weights
/experiment1
/dataset_333
/no_gloves_extracted
/no_gloves_augmented
/test_data
/results_segmentation
/results_keypoint

# Ignore all JPG images
*.jpg
*.jpeg
*.png
*.cache

# Labels
*.txt

*.mp4
*.pb
# Ignore all PyTorch model files
*.pt

*.weights
*.csv
*.docx
*.pptx